.projectsSection {
    background-color: #000;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    font-size: 4em;
    width: fit-content;
    transition: 0.3s ease-in-out;
}

h1:hover {
    text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,
     5px 5px 0 #fff;
}

.projectCardContainer {
    width: 60%;
    margin: 150px 20% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.projectContainer {
    text-align: center;
    background-color: #fff;
    color: #000;
    width: 18.75em;
    height: 18.75em;
    padding: 1px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    margin-bottom: 20px;
}


.projectContainer_active {
    animation-play-state:running;
}

.projectContainer >h3 {
    transition: 0.4s ease-in-out;
}

.projectContainer_active > h3 {
    font-size: 2.3em;
    border-radius: 20px;
    background-color: #fff;
}


.projectContainer > .imageContainer {
    transition: 0.4s ease-in-out;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.projectContainer_active > .imageContainer {
    height: 0;
}

.projectPreview {
    width: 100%;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
}

.projectContainer > p {
    display: none;
    font-size: 1.2em;
}

.projectContainer_active > p {
    display: block;
}

.seeProject {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3em;
    color: #000;
    transition: 0.2s ease-in-out;
}

.seeProject:hover {
    text-shadow: 0 0 10px #4b4b4b;
}